asgiref==3.7.2
Django==5.0.1
django-admin-argon-dashboard==1.0.16
django-admin-material-dashboard==1.0.10
django-admin-soft-dashboard==1.0.12
django-admin-volt==1.0.10
gunicorn==21.2.0
packaging==23.2
pillow==10.2.0
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
whitenoise==6.6.0
