asgiref==3.7.2
Django==4.2.5
django-admin-argon-dashboard==1.0.16
django-admin-material-dashboard==1.0.10
django-admin-soft-dashboard==1.0.12
django-admin-volt==1.0.10
pillow==10.2.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
